<div class="review_list">
    <div class="review_item">
        <div class="media">
            <div class="d-flex">
                <img src="{{ reviews.image.url }}" alt="">
            </div>
            <div class="media-body">
                <h4>{{ reviews.review.first_name }} {{ reviews.review.last_name }}</h4>
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
            </div>
        </div>
        <p>{{ reviews.review.message }}</p>
    </div>
</div>