{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link rel="icon" href="../../static/img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="../../static/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../static/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../../static/vendors/linericon/style.css">
    <link rel="stylesheet" href="../../static/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="../../static/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../static/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/css/style_1.css">

<main class="site-main">
    <section class="checkout_area section-margin--small">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                {% if products_in_basket %}
                    <form class="row contact_form" method="post">{% csrf_token %}
                    <div class="col-lg-6">
                        <h2 class="text-center">Информация к заказу:</h2>
                        {{ request.session.basket.products }}
                        <br><br>
                        <p class="text-center">(*) - поля, которые являются обязательными для заполнения!</p>

                            <div class="col-md-6 form-group p_star">
                                <input required type="text" class="form-control" name="{{ form.name.html_name }}" value="{{ request.POST.name }}" placeholder="Введите Ваше имя (*)">
                                <span class="placeholder" data-placeholder="Введите Ваше имя..."></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input required type="text" class="form-control" name="{{ form.phone.html_name }}" value="{{ request.POST.phone }}" placeholder="Введите Ваш номер телефона (*)">
                                <span class="placeholder" data-placeholder="Номер телефона"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input required type="email" class="form-control" name="{{ form.email.html_name }}" value="{{ request.POST.email }}" placeholder="Введите Ваш e-mail (*)">
                                <span class="placeholder" data-placeholder="Введите Ваш e-mail..."></span>
                            </div>
                            <div class="col-md-12 form-group mb-0">
                                <textarea class="form-control" name="{{ form.address.html_name }}" value="{{ request.POST.address }}" rows="1" placeholder="Введите Ваш адрес"></textarea>
                            </div>
                    </div>
                    <br>
                    <div class="col-lg-6">
                        <div class="order_box">
                            <h2>Заказ:</h2>
                            <ul class="list">
                                <li><a><h4>Товар(ы): <span>Сумма:</span></h4></a></li>
                                {% for product_in_basket in products_in_basket %}
                                    <li>
                                    <a>{{ product_in_basket.product.name|truncatechars_html:30 }} ({{ product_in_basket.price_per_item }} за 1 шт.)
                                        <span class="middle"><input class="p_star form-control" value="{{ product_in_basket.nmb }}" type="number" class="product-in-basket-nmb" name="product_in_basket_{{ product_in_basket.id }}"></span>
                                    <span class="last total-product-in-basket-amount">{{ product_in_basket.total_price }} RUB</span>
                                    </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="list list_2" >
                                <li><a>ИТОГО: <span id="total_order_amount">RUB</span></a></li>
                            </ul>
                            <div class="payment_item">
                                <p>Нажимая кнопку заказать, Вы соглашаетесь с нашей политикой. После заказа с Вами сразу же свяжется наш сотрудник для уточнения всех позиций в заказе.</p>
                            </div>
                            <div class="text-center">
                                <button class="button button-paypal"><a>ЗАКАЗАТЬ!</a></button>
                            </div>
                        </div>
                    </div>
                    </form>
                    {% else %}
                    <h3 class="text-center">Спасибо за Ваш заказ! Наш сотрудник с Вами скоро свяжется уточнения заказа. С уважением и наилучшими пожеланиями, neformat-inc</h3>
                    <br><br>
                        <div class="owl-carousel owl-theme hero-carousel">
                            <div class="hero-carousel__slide">
                                <img src="../../static/img/category_makbooks.jpg" alt="" class="img-fluid">
                                    <a href="{% url 'laptops' %}" class="hero-carousel__slideOverlay">
                                    <h3>Выберите категорию</h3>
                                    <p>MacBook</p>
                                </a>
                            </div>
                            <div class="hero-carousel__slide">
                                <img src="../../static/img/category_smartphones.jpg" alt="" class="img-fluid">
                                    <a href="{% url 'smartphones' %}" class="hero-carousel__slideOverlay">
                                    <h3>Выберите категорию</h3>
                                    <p>Смартфоны</p>
                                </a>
                            </div>
                            <div class="hero-carousel__slide">
                                <img src="../../static/img/category_accessories.jpg" alt="" class="img-fluid">
                                    <a href="{% url 'cables' %}" class="hero-carousel__slideOverlay">
                                    <h3>Выберите категорию</h3>
                                    <p>Кабели, шнуры для передачи данных</p>
                                </a>
                            </div>
                            <div class="hero-carousel__slide">
                                <img src="../../static/img/category_iphone_case.jpg" alt="" class="img-fluid">
                                    <a href="{% url 'iphone_case' %}" class="hero-carousel__slideOverlay">
                                    <h3>Выберите категорию</h3>
                                    <p>Чехлы на iPhone</p>
                                </a>
                            </div>
                            <div class="hero-carousel__slide">
                                <img src="../../static/img/category_power_bank.jpg" alt="" class="img-fluid">
                                    <a href="{% url 'power_bank' %}" class="hero-carousel__slideOverlay">
                                    <h3>Выберите категорию</h3>
                                    <p>Внешние аккумуляторы</p>
                                </a>
                            </div>
                            <div class="hero-carousel__slide">
                                <img src="../../static/img/category_holder.jpg" alt="" class="img-fluid">
                                    <a href="{% url 'holder' %}" class="hero-carousel__slideOverlay">
                                    <h3>Выберите категорию</h3>
                                    <p>Держатели</p>
                                </a>
                            </div>
                            <div class="hero-carousel__slide">
                                <img src="../../static/img/category_glass_film.jpg" alt="" class="img-fluid">
                                    <a href="{% url 'glass_film' %}" class="hero-carousel__slideOverlay">
                                    <h3>Выберите категорию</h3>
                                    <p>Защитные стекла</p>
                                </a>
                            </div>
                            <div class="hero-carousel__slide">
                                <img src="../../static/img/category_wall_charger.jpg" alt="" class="img-fluid">
                                    <a href="{% url 'wall_charger' %}" class="hero-carousel__slideOverlay">
                                    <h3>Выберите категорию</h3>
                                    <p>Зарядные устройства</p>
                                </a>
                            </div>
                            <div class="hero-carousel__slide">
                                <img src="../../static/img/category_other.jpg" alt="" class="img-fluid">
                                    <a href="{% url 'other' %}" class="hero-carousel__slideOverlay">
                                    <h3>Выберите категорию</h3>
                                    <p>Разное</p>
                                </a>
                            </div>
                        </div>
                {% endif %}
                </div>
            </div>
        </div>
    </section>

    <script src="../../static/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../static/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../static/vendors/skrollr.min.js"></script>
    <script src="../../static/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../../static/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="../../static/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="../../static/vendors/mail-script.js"></script>
    <script src="../../static/js/main.js"></script>
    <script src="../../static/js/cart.js"></script>

</main>
{% endblock %}